<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">            
        <link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Ubuntu"> 
        <link rel="icon"       href="data:image/x-icon" type="image/x-icon">
        <link rel="icon"       href="{{asset('assets/img/gnosysLogo.png')}}" type="image/png"/>
        <link rel="stylesheet" href="{{asset('assets/css/customcss.css')}}">
    {% endblock %}

</head>
<body>
{% block content %}
<div class="row mx-0" style="background:lightgray">
    <div class="col-sm-12 col-lg-2 menu-app border border-1 border-bottom-0">
        <a href="{{path('admin')}}"><img class="mw-100" src="{{asset('assets/img/gnosysLogo.png')}}" alt="logo"></a>
        <h3  class="menu-link mb-1 text-center">Menu</h3>
        <div class="menu-link mb-1 w-100 btn btn-primary"><a id="lien_session">Session     </a></div>
        <div class="menu-link mb-1 w-100 btn btn-primary"><a id="lien_candidat">Candidat   </a></div>
        <div class="menu-link mb-1 w-100 btn btn-primary"><a id="lien_titre">Titre         </a></div>
        <div class="menu-link mb-3 w-100 btn btn-primary"><a id="lien_chercher">Chercher   </a></div>
        <div class="menu-link mt-5 w-100 btn btn-primary"><a href="{{path('admin')}}">Admin</a></div>
        <div class="menu-link mt-1 w-100 btn btn-primary"><a href="{{path('home') }}">Site </a></div>
    </div>

        {#-----------------------------------------INFO----------------------------------------------#}

    <div class="col-sm-12 col-lg-8 px-0">
        <div class="info-app ps-1 border border-1" id="info-bar">
            <div class="row mx-0 px-0">
                <div class="col-sm-6 col-md-2 fw-bold text-center">Session:</div>
                <div class="col-6" id="info-session"></div>
            </div>
            <div class="row mx-0">
                <div class="col-sm-6 col-md-2 fw-bold text-center">Titre:</div>
                <div class="col-6" id="info-titre"></div>
            </div>
            <div class="row mx-0">
                <div class="col-sm-6 col-md-2 fw-bold text-center">Info:</div>
                <div class="col-sm-6 col-md-4" id="info-msg"></div>
                <div class="col-sm-6 col-md-2 fw-bold text-center">Statut:</div>
                <div class="col-sm-6 col-md-4" id="info-statut"></div>
            </div>
        </div>

        {#----------------------------------------session-------------------------------------------#}
        
        <div class="display-app">

            <div class="d-block border border-1 mb-3" id="div_session">
                <h4  class="text-center border border-2 bg-secondary">Session</h4>
                <div class="row mx-0 input-group mb-3">
                    <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Identifiant session</label>
                    <input class="form-control" type="text" id="identifiant" name="identifiant">
                </div>
                <div class="row mx-0 input-group mb-3">                 
                    <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Titre</label>
                    <select class="form-select"     type="text"   id="associer_titre"     name="associer_titre"><option value="0"></option></select>
                    <button class="col-sm-11 col-md-2 btn btn-primary" type="submit" id="btn_associer_titre" name="btn_associer_titre">Associer</button>    
                </div>
                <div class="row mx-0 input-group mb-3">            
                    <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Date début</label>
                    <input class="col-3 form-control" type="date" id="session_debut" name="session_debut">
                    <div   class="col-6"></div>
                </div>
                <div class="row mx-0 input-group mb-3">            
                    <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Date fin</label>
                    <input class="col-3 form-control" type="date" id="session_fin" name="session_fin">
                    <div   class="col-6"></div>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <label  class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Liste jours</label>
                    <select class="col-3 form-select" type="text" id="select_jour" name="select_jour"><option value="0"></option></select>
                    <div    class="col-6"></div>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <label  class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Ajouter jour</label>
                    <input  class="col-3 form-control"                     type="date"   id="input_jour"       name="input_jour">
                    <button class="col-sm-5 col-md-2 btn btn-primary me-1" type="submit" id="btn_ajouter_jour" name="btn_ajouter_jour">Ajouter</button>
                    <button class="col-sm-5 col-md-2 btn btn-primary"      type="submit" id="btn_retirer_jour" name="btn_retirer_jour">Retirer</button>
                    <div   class="col-2"></div>
                </div>
                <h5 class="text-center mx-5 border border-1 bg-secondary" id="lien_entreprise">Centre Organisateur</h5>
                <div class="d-block" id="div_entreprise">
                    <div class="row mx-0 input-group mb-3">             
                        <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Raison Sociale</label>
                        <input class="form-control" type="text" id="raison_sociale" name="raison_sociale">
                    </div>
                    <div class="row mx-0 input-group mb-3">            
                        <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Téléphone</label>
                        <input class="form-control" type="text" id="entreprise_tel" name="entreprise_tel">
                    </div>
                </div>
                <h5 class="text-center mx-5 border border-1 bg-secondary" id="lien_responsable">Responsable</h5>
                <div class="d-block" id="div_responsable">
                    <div class="row mx-0 input-group mb-3">           
                        <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Nom</label>
                        <input class="form-control" type="text" id="resp_nom" name="resp_nom">
                    </div>
                    <div class="row mx-0 input-group mb-3">           
                        <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Fonction</label>
                        <input class="form-control" type="text" id="resp_fonction" name="resp_fonction">
                    </div>
                    <div class="row mx-0 input-group mb-3">             
                        <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Téléphone</label>
                        <input class="form-control" type="text" id="resp_mobile" name="resp_mobile">
                    </div>
                </div>
                {#<h5 class="text-center mx-5 border border-1 bg-secondary" id="lien_jury">Jury</h5>
                <div class="d-none" id="div_jury">
                    
                </div>#}
                <div class="row mx-0 input-group mb-3">
                    <div    class="col-sm-0 col-md-3"></div>
                    <button class="col-sm-11 col-md-3 btn btn-primary me-1" type="submit" id="btn_valider_session" name="btn_valider_session">Valider</button>
                    <button class="col-sm-11 col-md-3 btn btn-primary"      type="submit" id="btn_effacer_session" name="btn_effacer_session">Effacer</button>
                </div>
            </div>

            {#-------------------------------------candidat-------------------------------------------------#}
                        
            <div class="d-none border border-1 mb-3" id="div_candidat">
                <h4 class="text-center border border-2 bg-secondary">Candidat</h4>
                <div class="row mx-0 input-group mb-3">             
                    <label  class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Liste candidats</label>
                    <select class="col-7 form-select"                                id="select_identification" name="select_identification"><option value="0"></option></select>
                    <button class="col-sm-12 col-md-2 btn btn-primary" type="submit" id="btn_identification"    name="btn_identification">Chercher</button>
                </div>
                <div class="row mx-0 input-group mb-3">             
                    <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Identifiant candidat</label>
                    <input class="col-7 form-control" type="text" id="identification" name="identification">
                </div>
                <div class="row mx-0 input-group mb-3">             
                    <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Session</label>
                    <select class="form-select"                        type="text"   id="associer_session"     name="associer_session"><option value="0"></option></select>
                    <button class="col-sm-11 col-md-2 btn btn-primary" type="submit" id="btn_associer_session" name="btn_associer_session">Associer</button>
                </div>
                <h5 class="text-center mx-5 border border-1 bg-secondary" id="lien_competence">Compétence</h5>
                <div class="d-block" id="div_competence">
                    <h6 class="">Saisir nouvelle compétence:</h6>
                    <div class="row mx-0 input-group mb-3">
                        <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Liste compétences</label>
                        <select class="form-select" id="select_competence" name="select_competence"><option value="0"></option></select>
                        <button class="col-sm-5 col-md-2 btn btn-primary btn-sm"      type="submit" id="btn_ajouter_select_competence" name="btn_ajouter_select_competence">Ajouter</button>
                        <button class="col-sm-5 col-md-2 btn btn-primary btn-sm mx-1" type="submit" id="btn_retirer_select_competence" name="btn_retirer_select_competence">Retirer</button>
                    </div>
                    <div class="row mx-0 input-group mb-3">
                        <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Saisir description</label>
                        <input class="form-control" type="text" id="competence_desc" name="competence_desc">
                    </div>
                    <div class="row mx-0 input-group">           
                        <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Saisir commentaire</label>
                        <input class="form-control" type="text" id="competence_comm" name="competence_comm">
                    </div>
                    <div class="row mx-0 input-group d-flex justify-content-end">
                        <button class="col-sm-5 col-md-2 btn btn-primary btn-sm"      type="submit" id="btn_ajouter_competence" name="btn_ajouter_competence">Ajouter</button>
                        <button class="col-sm-5 col-md-2 btn btn-primary btn-sm mx-1" type="submit" id="btn_retirer_competence" name="btn_retirer_competence">Retirer</button>
                    </div>
                    <h6 class="">Affichage compétences:</h6>
                    <div class="mb-3" id="affichage_competence">
                    </div>
                </div>
                <h5 class="text-center mx-5 border border-1 bg-secondary" id="lien_projet">Projet</h5>
                <div class="d-block" id="div_projet">
                    <div class="row mx-0 input-group mb-3">             
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Nom projet</label>
                        <input class="form-control" type="text" id="projet_nom" name="projet_nom">
                    </div>
                    <div class="row mx-0 input-group mb-3">            
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Nom produit</label>
                        <input class="form-control" type="text" id="produit_nom" name="produit_nom">
                     </div>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <div    class="col-sm-0 col-md-3"></div>
                    <button class="col-sm-11 col-md-3 btn btn-primary me-1" type="submit" id="btn_valider_candidat" name="btn_valider_candidat">Valider</button>
                    <button class="col-sm-11 col-md-3 btn btn-primary"      type="submit" id="btn_effacer_candidat" name="btn_effacer_candidat">Effacer</button>
                </div>
            </div>
            
            {#--------------------------------------titre------------------------------------------------#}

            <div class="d-none border border-1 mb-3" id="div_titre">
                <h4 class="text-center border border-2 bg-secondary">Titre</h4>
                <div class="row mx-0 input-group mb-3">             
                    <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Libelle court</label>
                    <input class="form-control" type="text" id="libelle_court" name="libelle_court">
                </div>
                {#<div class="row mx-0 input-group mb-3">             
                    <label class="col-sm-11 col-md-2 input-group-text d-flex justify-content-center">Référentiel</label>
                    <input class="form-control" type="text" id="ref_doc" name="ref_doc">
                </div>#}
                {{form_start(form)}}
                    <div class="row mx-0 input-group mb-3">             
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Référentiel document</label>
                        <div   class="col-sm-12 col-md-7 mx-0 px-0" id="ref_doc">{{ form_widget(form.file)  }}</div>
                        <div   class="col-sm-12 col-md-2 mx-0 px-0">             {{ form_widget(form.upload)}}</div>
                    </div>
                {{form_end(form)}}
                <h5 class="text-center mx-5 border border-1 bg-secondary" id="lien_ccp">Ccp</h5>
                <div class="d-block mb-3" id="div_ccp">
                    <h6 class="">Saisir nouveau ccp:</h6>
                    <div class="row mx-0 input-group mb-3">
                        <label  class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Liste ccps</label>
                        <select class="col-sm-12 col-md-5 form-select" id="select_ccp" name="select_ccp"><option value="0"></option></select>
                        <button class="col-sm-5 col-md-2 btn btn-primary btn-sm"      type="submit" id="btn_ajouter_select_ccp" name="btn_ajouter_select_ccp">Ajouter</button>
                        <button class="col-sm-5 col-md-2 btn btn-primary btn-sm mx-1" type="submit" id="btn_retirer_select_ccp" name="btn_retirer_select_ccp">Retirer</button>
                    </div>
                    <div class="row mx-0 input-group mb-3">             
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Saisir code</label>
                        <input class="form-control" type="text" id="saisir_ccp_code" name="saisir_ccp_code">
                    </div>
                    <div class="row mx-0 input-group">           
                        <label  class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Saisir libellé</label>
                        <input  class="form-control"                              type="text" id="saisir_ccp_lib"    name="saisir_ccp_lib">
                        <button class="col-sm-12 col-md-2 btn btn-primary btn-sm" type="submit" id="btn_ajouter_ccp" name="btn_ajouter_ccp">Ajouter</button>
                    </div>
                    {#<h6 class="d-inline">Charger pdf ccp:</h6>
                    <div class="row mx-0 input-group mb-3" id="charger_hab">                 
                        <input  class="col-2 form-control"                        type="file"   id="pdf_ccp"             name="pdf_ccp" onfocus="this.value=''">
                        <button class="col-sm-11 col-md-2 btn btn-primary btn-sm" type="submit" id="btn_charger_pdf_ccp" name="btn_charger_pdf_ccp">Télécharger</button>
                    </div>#}
                    <h6 class="mt-3">Affichage ccp:</h6>
                    <div class="mb-3" id="affichage_ccp">
                       
                    </div>
                </div>
                <h5 class="text-center mx-5 border border-1 bg-secondary" id="lien_habilitation">Habilitation</h5>
                <div class="d-block" id="div_habilitation">
                    <h6 class="">Saisir nouvelle habilitation:</h6>
                    <div class="row mx-0 input-group mb-3">
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Liste habilitations</label>
                        <select class="form-select" id="select_hab" name="select_hab"><option value="0"></option></select>
                        <button class="col-sm-6 col-md-2 btn btn-primary btn-sm"      type="submit" id="btn_ajouter_select_hab" name="btn_ajouter_select_hab">Ajouter</button>
                        <button class="col-sm-6 col-md-2 btn btn-primary btn-sm mx-1" type="submit" id="btn_retirer_select_hab" name="btn_retirer_select_hab">Retirer</button>
                    </div>
                    <div class="row mx-0 input-group mb-3">            
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Saisir titre</label>
                        <input class="form-control" type="text" id="saisir_hab_titre" name="saisir_hab_titre">
                    </div>
                    <div class="row mx-0 input-group mb-3">            
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Saisir date début</label>
                        <input class="form-control" type="date" id="saisir_hab_debut" name="saisir_hab_debut">
                        <div   class="col-6"></div>
                    </div>
                    <div class="row mx-0 input-group mb-3">
                        <label  class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Saisir date fin</label>
                        <input  class="col-sm-12 col-md-3 form-control" type="date" id="saisir_hab_fin" name="saisir_hab_fin">
                        <button class="col-sm-12 col-md-2 btn btn-primary btn-sm" type="submit" id="btn_ajouter_hab" name="btn_ajouter_hab">Ajouter</button>
                        <div    class="col-sm-0  col-md-4"></div>
                    </div>
                    {#<h6 class="d-inline">Charger pdf habilitation:</h6>
                    <div class="row mx-0 input-group mb-3" id="charger_hab">                 
                        <input  class="col-2 form-control"                        type="file"   id="pdf_hab"             name="pdf_hab" onfocus="this.value=''">
                        <button class="col-sm-11 col-md-2 btn btn-primary btn-sm" type="submit" id="btn_charger_pdf_hab" name="btn_charger_pdf_hab">Télécharger</button>
                    </div>#}
                    <h6  class="">Affichage habilitation:</h6>
                    <div class="mb-3" id="affichage_hab">

                    </div>
                </div>
                <h5 class="text-center mx-5 border border-1 bg-secondary" id="lien_niveau">niveau</h5>
                <div class="d-block" id="div_niveau">
                    <div class="row mx-0 input-group mb-3">        
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Code</label>
                        <input class="form-control" type="text" id="niveau_code" name="niveau_code">
                    </div>
                    <div class="row mx-0 input-group mb-3">
                        <label class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Libellé</label>
                        <input class="form-control" type="text" id="niveau_lib" name="niveau_lib">
                    </div>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <div    class="col-sm-0 col-md-3"></div>
                    <button class="col-sm-12 col-md-3 btn btn-primary me-1" type="submit" id="btn_valider_titre" name="btn_valider_titre">Valider</button>
                    <button class="col-sm-12 col-md-3 btn btn-primary"      type="submit" id="btn_effacer_titre" name="btn_effacer_titre">Effacer</button>
                </div>
            </div>

            {#-------------------------------------rechercher------------------------------------------------#}
            <div class="d-none border border-1 mb-3" id="div_chercher">
                <h4 class="text-center border border-2 bg-secondary">Rechercher</h4>
                <div class="row mx-0 input-group">
                    <label  class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Chercher par candidat</label>
                    <input  class="col-5 me-1 form-control"                 type="text"   id="input_candidat"     name="input_candidat">
                    <button class="col-sm-11 col-md-2 btn btn-primary mb-1" type="submit" id="btn_input_candidat" name="btn_input_candidat">Chercher</button>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <label  class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Chercher par candidat</label>
                    <select class="col-5 form-select"                                    id="select_candidat"      name="select_candidat"><option value="0"></option></select>
                    <button class="col-sm-5 col-md-2 btn btn-primary me-1" type="submit" id="btn_filtrer_candidat" name="btn_filtrer_candidat">Filtrer</button>
                    <button class="col-sm-5 col-md-2 btn btn-primary"      type="submit" id="btn_select_candidat"  name="btn_select_candidat">Chercher</button>
                </div>

                <div class="row mx-0 input-group">
                    <label  class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Chercher par session</label>
                    <input  class="col-5 me-1 form-control"                 type="text"   id="input_session"     name="input_session">
                    <button class="col-sm-11 col-md-2 btn btn-primary mb-1" type="submit" id="btn_input_session" name="btn_input_session">Chercher</button>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <label  class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Chercher par session</label>
                    <select class="col-5 form-select"                                    id="select_session"      name="select_session"><option value="0"></option></select>
                    <button class="col-sm-5 col-md-2 btn btn-primary me-1" type="submit" id="btn_filtrer_session" name="btn_filtrer_session">Filtrer</button>
                    <button class="col-sm-5 col-md-2 btn btn-primary"      type="submit" id="btn_select_session"  name="btn_select_session">Chercher</button>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Date début</label>
                    <input class="col-3 form-control" type="date" id="date_debut_chercher_session" name="date_debut_chercher_session">
                    <div   class="col-6"></div>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <label class="col-sm-11 col-md-3 input-group-text d-flex justify-content-center">Date fin</label>
                    <input class="col-3 form-control" type="date" id="date_fin_chercher_session" name="date_fin_chercher_session">
                    <div   class="col-6"></div>
                </div>
                <div class="row mx-0 input-group">
                    <label  class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Chercher par titre</label>
                    <input  class="col-5 me-1 form-control"                 type="text"   id="input_titre"     name="input_titre">
                    <button class="col-sm-12 col-md-2 btn btn-primary mb-1" type="submit" id="btn_input_titre" name="btn_input_titre">Chercher</button>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <label  class="col-sm-12 col-md-3 input-group-text d-flex justify-content-center">Chercher par titre</label>
                    <select class="col-5 me-1 form-select"                           id="select_titre"      name="select_titre"><option value="0"></option></select>
                    <button class="col-sm-12 col-md-2 btn btn-primary" type="submit" id="btn_select_titre"  name="btn_select_titre">Chercher</button>
                </div>
                <div class="row mx-0 input-group mb-3">
                    <div class="col px-0 input-group d-flex justify-content-end">
                        <div    class="col-sm-0 col-md-8"></div>
                        <button class="col-sm-12 col-md-4 btn btn-primary" type="submit" id="btn_effacer_rechercher" name="btn_effacer_rechercher">Effacer</button>
                    </div>
                </div>
            </div>

            {#--------------------------------------------------------------------------------------------#}


            <div class="pb-5">
                <div class="row mx-0 input-group">
                    <div    class="col-sm-3 col-md-3"></div>
                    <button class="col-sm-6 col-md-6 btn btn-primary me-1" type="submit" id="btn_valider_form" name="btn_valider_form">Valider toutes les sections</button>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="" src="{{asset('assets/js/app.js')}}"></script>
{% endblock %}

</body>
</html>
